* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', monospace;
    background: black;
    color: #4AF626;
}

/* ===== HEADER ===== */

.top-bar {
    margin: 10px;
}

#date-time {
    font-size: 20px;
    color: #4AF626;
    padding: 6px 12px;
}

.system-line {
    border: 2px solid #4AF626;
    padding: 12px 20px;
    display: flex;
    justify-content: right;
    margin-bottom: 8px;
}

.speed-buttons {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.speed-buttons button {
    border: 1px solid #4AF626;
    padding: 6px 12px;
    cursor: pointer;
    background-color: black;
    color: #4AF626;
}

.speed-buttons button:hover {
    background: #4AF626;
    color: black;
}

.system-line #pms-version {
    position: absolute;
    left: 20px;
    padding: 6px 12px;
    font-size: 20px;
}

.stats-line {
    border: 2px solid #4AF626;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

/* ===== LAYOUT ===== */

main {
    display: flex;
    margin: 10px;
    gap: 20px;
}

.panel {
    border: 2px solid #4AF626;
    display: flex;
    flex-direction: column;
}

.panel-title {
    padding: 10px;
    border-bottom: 2px solid #4AF626;
    text-align: center;
    font-weight: bold;
}

.panel-content {
    padding: 20px;
    flex-grow: 1;
}

.dim {
    opacity: 0.5;
    margin-top: 10px;
}

/* ===== LEFT SIDE ===== */

.personel-list {
    width: 40%;
}

.personel-list table {
    width: 100%;
    border-collapse: collapse;
}

.personel-list th,
.personel-list td {
    border-bottom: 1px solid #4AF626;
    padding: 8px;
    text-align: left;
}

.personel-list tr:hover {
    background: rgba(74, 246, 38, 0.08);
    cursor: pointer;
}

table thead {
    background: rgba(74, 246, 38, 0.05);
}

.roster-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 470px;
    scrollbar-color: #4AF626 transparent;
    scrollbar-width: thin;
}

.standart-row {
    background-color: black;
}

.selected-row {
    background: rgba(74, 246, 38, 0.2);
}

/* ===== RIGHT SIDE ===== */

.right-side {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.display-section {
    min-height: 300px;
    height: auto;
}

.menu-section {
    min-height: 200px;
    height: auto;
}

.mission-card {
    border: 1px solid #4AF626;
    border-top-width: 2px;
    padding: 10px;
    margin: 10px;
}

.mission-card:hover {
    background: #4AF626;
    color: black;
}

#personnel-select {
    border: 1px solid #4AF626;
    color: #4AF626;
    background-color: black;
    padding: 10px;
    margin: 10px 10px 10px 0px;
    min-width: 150px;
}
/* Start button */
#start-btn {
    border: 1px solid #4AF626;
    padding: 8px 14px;
    cursor: pointer;
    background-color: black;
    color: #4AF626;
}

#start-btn:hover {
    background: #4AF626;
    color: black;
}

#start-btn:active {
    transform: scale(0.95);
}
/* Cancel button */
#cancel-btn {
    border: 1px solid #4AF626;
    padding: 8px 14px;
    cursor: pointer;
    background-color: black;
    color: #4AF626;
}

#cancel-btn:hover {
    background: #4AF626;
    color: black;
}

#cancel-btn:active {
    transform: scale(0.95);
}

/* ===== MENU ===== */

.menu-buttons {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.menu-btn {
    border: 1px solid #4AF626;
    padding: 8px 14px;
    cursor: pointer;
}

.menu-btn:hover {
    background: #4AF626;
    color: black;
}

.menu-btn:active {
    transform: scale(0.95);
}


/* ===== STATUS COLORS ===== */

.warning {
    color: yellow;
}

.status.deployed {
    color: yellow;
}

.status.injured {
    color: red;
}

